@import "variables";

.button {
  @include borderRadius;
  @include focusShadow($primary);
  @include hoverBackground;

  display: inline-block;
  padding: 9px $padding;
  background-color: $dark-card-trans;
  color: $white;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75;
  appearance: none;
  cursor: pointer;
  transition: background 200ms ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $dark-card-trans;
    }
  }

  &--lg {
    padding: 9px $padding-lg;
  }

  &--wide {
    width: 100%;
  }

  &--circle-icon {
    height: 66px;
    width: 66px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--outline {
    @include focusShadow($white);
    background: none;
    border: $white 2px solid;
  }

  &--blur {
    backdrop-filter: blur(5px);
  }

  &--gradient {
    background: $gradient;

    &:hover {
      background-blend-mode: difference;
    }
  }

  &--grey {
    @include focusShadow($grey);
    background-color: $grey;
  }

  &--input {
    @include focusShadow($primary);
    background-color: $dark-card-trans;
  }

  &--flat {
    background-color: transparent;

    &:focus {
      @include focusBackground;
      box-shadow: none;
    }
  }

  &--image {
    display: flex;
    align-items: center;
    padding-left: 9px;

    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 15px;
      border-radius: $radius-sm;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    img {
      max-height: 31px;
    }
  }

  &--icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 31px;
      margin-right: 15px;
    }
    p {
      margin: 0;
    }
  }
}
