@import "variables";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $dark-background;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}

main {
  flex: 1;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: $dark-card;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $dark-hover;
}
::-webkit-scrollbar-track {
  background: $dark-background;
  border-radius: 0px;
}
