@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;600;700&display=swap");
@import "./variables";

* {
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75;
  color: $white;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.38rem;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  line-height: 1.13;

  &.line {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 3px;
      background: $white;
      margin-left: 15px;
      bottom: 18px;
      border-radius: 10px;
    }
  }
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.8rem;
}

.text--sub {
  color: $subtext;
}

.text--normal {
  font-weight: 400;
}

.text--semi-bold {
  font-weight: 600;
}

.text--no-margin {
  margin: 0;
}
